---
import Layout from '../layouts/Layout.astro';
---

<Layout title="關於這裡" activeNav="about">
    <h2 class="page-title">關於這裡</h2>
    <section class="about-content">
        <p>目前還幾乎什麼都沒有QQ。</p>
        <p>還在設計網站和學習程式ing(雖然大部分都不是自己寫的就是ww)</p>
        <p>如果有任何建議都歡迎提出，會參考，但不一定做得出來owob</p>
    </section>
</Layout>