---
import Layout from '../layouts/Layout.astro';
---

<Layout title="首頁" activeNav="index">
    <section class="hero-section">
        <h1 class="hero-title">你好，我也很好</h1>
        <p class="hero-subtitle">
            歡迎來到還很簡易的個人網頁<br>隨意走走看看吧，說不定會有驚喜
        </p>
    </section>
</Layout>